# Credit Risk — Optimizing Data Types & Dealing with Missing Values
### for CEBD1260: Introduction to Machine Learning
*by Pierre-Olivier Bonin* and *Hamza Benhmani*

# Importing Libraries and Loading the Datasets

In [246]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn import preprocessing
import seaborn as sns
from datetime import datetime
from sklearn.model_selection import train_test_split
from sklearn import preprocessing
from sklearn import linear_model
import statsmodels.formula.api as smf
import statsmodels.api as sm
import glob

DATA_PATH = 'D:\\Documents\\Pierre-Olivier\\CEBD1260\\Datasets\\'
all_files = glob.glob(DATA_PATH+'*.csv')
print(f"There are {len(all_files)} files to work with.") # print all files in the data directory

desc_df = pd.read_csv("D:/Documents/Pierre-Olivier/CEBD1260/Datasets/HomeCredit.csv", encoding="latin1")
desc_df = desc_df.drop("Unnamed: 0", axis=1)
maindf = pd.read_csv("D:/Documents/Pierre-Olivier/CEBD1260/Datasets/application_train.csv")
df2 = pd.read_csv("D:/Documents/Pierre-Olivier/CEBD1260/Datasets/bureau.csv")
df3 = pd.read_csv("D:/Documents/Pierre-Olivier/CEBD1260/Datasets/bureau_balance.csv")
df4 = pd.read_csv("D:/Documents/Pierre-Olivier/CEBD1260/Datasets/credit_card_balance.csv")
df5 =  pd.read_csv("D:/Documents/Pierre-Olivier/CEBD1260/Datasets/installments_payments.csv")
df6 = pd.read_csv("D:/Documents/Pierre-Olivier/CEBD1260/Datasets/POS_CASH_balance.csv")
df7 = pd.read_csv("D:/Documents/Pierre-Olivier/CEBD1260/Datasets/previous_application.csv")

dflist = [maindf, df2, df3, df4, df5, df6, df7]

desc_df['Table'].unique(), desc_df['Table'].nunique() # but we know that we actually have 7 datasets to work with.
print(f"There are {desc_df['Table'].nunique()} datasets to work with.")

There are 10 files to work with.
There are 7 datasets to work with.

> A problem was found during testing. Neither mean() from pandas nor numpy's mean() worked after data type optimization because it overflowed while computing the means (summing up the values ends up with numbers higher than supported by float16). So we need to deal with missing values first, and only then optimize the data types. We do so right away in the cells below.

# Preprocessing

> Here, we define functions that we will be use in preprocessing pipeline.

In [247]:
# This identifies preprocessing columns and replaces missing values by the mean

def na_meanfiller(df):
    """
    This function identifies non-categorical features, then identifies
     non-Boolean features within the resulting list of features, and
     then identifies features with missing values within the
     resulting list of features.
     It then fills missing values with the mean of each feature.
    :param df:
    """
    non_objectCols = []
    for i, j in zip(df.dtypes.index, df.dtypes.values):
        if j != "object":
            non_objectCols.append(i)

    non_BooleanCols = []
    for i, j in zip(df[non_objectCols].nunique().index, df[non_objectCols].nunique().values):
        if j > 2:
            non_BooleanCols.append(i)

    null_cols = []
    for i, j in zip(df[non_BooleanCols].isnull().sum().index, df[non_BooleanCols].isnull().sum().values):
        if j > 0:
            null_cols.append(i)
    df.fillna(df[null_cols].mean(), inplace=True)

In [248]:
# This identifies preprocessing columns and replaces missing values by the median

def na_medianfiller(df):
    """
    This function identifies non-categorical features, then identifies
     non-Boolean features within the resulting list of features, and
     then identifies features with missing values within the
     resulting list of features.
     It then returns the list of features identified. Lastly,
     it fills missing values identified within those features with
     the method selected by the user.
    :param df:
    """
    non_objectCols = []
    for i, j in zip(df.dtypes.index, df.dtypes.values):
        if j != "object":
            non_objectCols.append(i)

    non_BooleanCols = []
    for i, j in zip(df[non_objectCols].nunique().index, df[non_objectCols].nunique().values):
        if j > 2:
            non_BooleanCols.append(i)

    null_cols = []
    for i, j in zip(df[non_BooleanCols].isnull().sum().index, df[non_BooleanCols].isnull().sum().values):
        if j > 0:
            null_cols.append(i)
    df.fillna(df[null_cols].median(), inplace=True)

In [249]:
# This identifies categorical features and replaces missing values by string "unknown"

def na_catfiller(df):
    """
    This function identifies categorical features, then replaces
    missing values with "unknown" value.
    :param df:
    """
    objectCols = []
    for i, j in zip(df.dtypes.index, df.dtypes.values):
        if j == "object":
            objectCols.append(i)
    df[objectCols] = df[objectCols].fillna("unknown")

In [250]:
# Let us organize above table and sort the table in terms of # of NAN in descending order
nan_info = pd.DataFrame(maindf.isnull().sum()).reset_index()
nan_info.columns = ['feature_name','nan_cnt']
nan_info.sort_values(by = 'nan_cnt',ascending=False,inplace=True)
nan_info['nan_percentage'] = nan_info['nan_cnt']/len(maindf)
nan_info

                feature_name  nan_cnt  nan_percentage
76           COMMONAREA_MEDI   214865        0.698723
48            COMMONAREA_AVG   214865        0.698723
62           COMMONAREA_MODE   214865        0.698723
70  NONLIVINGAPARTMENTS_MODE   213514        0.694330
56   NONLIVINGAPARTMENTS_AVG   213514        0.694330
..                       ...      ...             ...
15         NAME_HOUSING_TYPE        0        0.000000
14        NAME_FAMILY_STATUS        0        0.000000
13       NAME_EDUCATION_TYPE        0        0.000000
12          NAME_INCOME_TYPE        0        0.000000
0                 SK_ID_CURR        0        0.000000

[122 rows x 3 columns]

In [251]:
na_meanfiller(maindf)

In [252]:
na_catfiller(maindf)

In [253]:
maindf.isnull().sum()

SK_ID_CURR                    0
TARGET                        0
NAME_CONTRACT_TYPE            0
CODE_GENDER                   0
FLAG_OWN_CAR                  0
                             ..
AMT_REQ_CREDIT_BUREAU_DAY     0
AMT_REQ_CREDIT_BUREAU_WEEK    0
AMT_REQ_CREDIT_BUREAU_MON     0
AMT_REQ_CREDIT_BUREAU_QRT     0
AMT_REQ_CREDIT_BUREAU_YEAR    0
Length: 122, dtype: int64

In [254]:
# Let us organize above table and sort the table in terms of # of NAN in descending order
nan_info2 = pd.DataFrame(maindf.isnull().sum()).reset_index()
nan_info2.columns = ['feature_name','nan_cnt']
nan_info2.sort_values(by = 'nan_cnt',ascending=False,inplace=True)
nan_info2['nan_percentage'] = nan_info2['nan_cnt']/len(maindf)
nan_info2

                    feature_name  nan_cnt  nan_percentage
0                     SK_ID_CURR        0             0.0
91      OBS_30_CNT_SOCIAL_CIRCLE        0             0.0
89            WALLSMATERIAL_MODE        0             0.0
88                TOTALAREA_MODE        0             0.0
87                HOUSETYPE_MODE        0             0.0
..                           ...      ...             ...
36   LIVE_REGION_NOT_WORK_REGION        0             0.0
35    REG_REGION_NOT_WORK_REGION        0             0.0
34    REG_REGION_NOT_LIVE_REGION        0             0.0
33       HOUR_APPR_PROCESS_START        0             0.0
121   AMT_REQ_CREDIT_BUREAU_YEAR        0             0.0

[122 rows x 3 columns]

> It worked! So let's do it with all the dataframes, and then we will optimize data types.

In [255]:
for i in dflist:
    na_meanfiller(i)
    na_catfiller(i)

# Label-encoding/ one-hot encoding (categorical encoding)

# Data Type Optimization

In [256]:
### INSTRUCTIONS ###
# To execute the present script, load the datasets to be cleaned and then put them into a list of dataframes.
# We will call the dataframe list 'dflist', such that you must run first the following:
# dflist = [] <-- here you insert your dataframes and separate with commas. Once you're done, run the script below.


# Print initial memory usage details
mem_sum = 0
for i in dflist:
    print('Memory usage of dataframe is {:.6f} GB'.format(i.memory_usage().sum()/1000000000))
    mem_sum = mem_sum+i.memory_usage().sum()/1000000000
print(f"Total memory used for all dataframes is: {mem_sum:.2f}GB")

# Construct dataframe for reference used below in the optimize_inttypes function.
np_types = [np.int8 ,np.int16 ,np.int32, np.int64,
           np.uint8 ,np.uint16, np.uint32, np.uint64]
np_types = [np_type.__name__ for np_type in np_types]
type_df = pd.DataFrame(data=np_types, columns=['class_type'])
type_df['min_value'] = type_df['class_type'].apply(lambda row: np.iinfo(row).min)
type_df['max_value'] = type_df['class_type'].apply(lambda row: np.iinfo(row).max)
type_df['range'] = type_df['max_value'] - type_df['min_value']
type_df.sort_values(by='range', inplace=True)

# Create function to optimize integer data types
def optimize_inttypes(dataframe):
    for col in dataframe.loc[:, dataframe.dtypes <= np.int64]:
        col_min = dataframe[col].min()
        col_max = dataframe[col].max()
        temp = type_df[(type_df['min_value'] <= col_min) & (type_df['max_value'] >= col_max)]
        optimized_class = temp.loc[temp['range'].idxmin(), 'class_type']
        print("Col name : {} Col min_value : {} Col max_value : {} Optimized Class : {}".format(col, col_min, col_max, optimized_class))
        dataframe[col] = dataframe[col].astype(optimized_class)

# Run integer optimization over all dataframes.
for i in dflist:
    optimize_inttypes(i)

# Print updated memory usage details
mem_sum = 0
for i in dflist:
    print('Memory usage of dataframe is {:.6f} GB'.format(i.memory_usage().sum()/1000000000))
    mem_sum = mem_sum+i.memory_usage().sum()/1000000000
print(f"Total memory used for all dataframes is: {mem_sum:.2f}GB")

####################################################################################################
####################################################################################################

# Create dataframe for reference, used in the float optimization function further below.
np_types = [np.float16 ,np.float32, np.float64]
np_types = [np_type.__name__ for np_type in np_types]
floattype_df = pd.DataFrame(data=np_types, columns=['class_type'])
floattype_df['min_value'] = floattype_df['class_type'].apply(lambda row: np.finfo(row).min)
floattype_df['max_value'] = floattype_df['class_type'].apply(lambda row: np.finfo(row).max)
floattype_df['range'] = floattype_df['max_value'] - floattype_df['min_value']
floattype_df.sort_values(by='range', inplace=True)

# Create float optimization function.
def optimize_floattypes(dataframe):
    for col in dataframe.loc[:, dataframe.dtypes == np.float64]:
        col_min = dataframe[col].min()
        col_max = dataframe[col].max()
        temp = floattype_df[(floattype_df['min_value'] <= col_min) & (floattype_df['max_value'] >= col_max)]
        optimized_class = temp.loc[temp['range'].idxmin(), 'class_type']
        print("Col name : {} Col min_value : {} Col max_value : {} Optimized Class : {}".format(col, col_min, col_max, optimized_class))
        dataframe[col] = dataframe[col].astype(optimized_class)

# Run float optimization over all dataframes.
for i in dflist:
    optimize_floattypes(i)

# Print updated memory usage details
mem_sum = 0
for i in dflist:
    print('Memory usage of dataframe is {:.6f} GB'.format(i.memory_usage().sum()/1000000000))
    mem_sum = mem_sum+i.memory_usage().sum()/1000000000
print(f"Total memory used for all dataframes is: {mem_sum:.2f}GB")

Memory usage of dataframe is 0.300131 GB
Memory usage of dataframe is 0.233434 GB
Memory usage of dataframe is 0.655198 GB
Memory usage of dataframe is 0.706618 GB
Memory usage of dataframe is 0.870746 GB
Memory usage of dataframe is 0.640087 GB
Memory usage of dataframe is 0.494383 GB
Total memory used for all dataframes is: 3.90GB
Col name : SK_ID_CURR Col min_value : 100002 Col max_value : 456255 Optimized Class : int32
Col name : TARGET Col min_value : 0 Col max_value : 1 Optimized Class : int8
Col name : CNT_CHILDREN Col min_value : 0 Col max_value : 19 Optimized Class : int8
Col name : DAYS_BIRTH Col min_value : -25229 Col max_value : -7489 Optimized Class : int16
Col name : DAYS_EMPLOYED Col min_value : -17912 Col max_value : 365243 Optimized Class : int32
Col name : DAYS_ID_PUBLISH Col min_value : -7197 Col max_value : 0 Optimized Class : int16
Col name : FLAG_MOBIL Col min_value : 0 Col max_value : 1 Optimized Class : int8
Col name : FLAG_EMP_PHONE Col min_value : 0 Col max_value : 1 Optimized Class : int8
Col name : FLAG_WORK_PHONE Col min_value : 0 Col max_value : 1 Optimized Class : int8
Col name : FLAG_CONT_MOBILE Col min_value : 0 Col max_value : 1 Optimized Class : int8
Col name : FLAG_PHONE Col min_value : 0 Col max_value : 1 Optimized Class : int8
Col name : FLAG_EMAIL Col min_value : 0 Col max_value : 1 Optimized Class : int8
Col name : REGION_RATING_CLIENT Col min_value : 1 Col max_value : 3 Optimized Class : int8
Col name : REGION_RATING_CLIENT_W_CITY Col min_value : 1 Col max_value : 3 Optimized Class : int8
Col name : HOUR_APPR_PROCESS_START Col min_value : 0 Col max_value : 23 Optimized Class : int8
Col name : REG_REGION_NOT_LIVE_REGION Col min_value : 0 Col max_value : 1 Optimized Class : int8
Col name : REG_REGION_NOT_WORK_REGION Col min_value : 0 Col max_value : 1 Optimized Class : int8
Col name : LIVE_REGION_NOT_WORK_REGION Col min_value : 0 Col max_value : 1 Optimized Class : int8
Col name : REG_CITY_NOT_LIVE_CITY Col min_value : 0 Col max_value : 1 Optimized Class : int8
Col name : REG_CITY_NOT_WORK_CITY Col min_value : 0 Col max_value : 1 Optimized Class : int8
Col name : LIVE_CITY_NOT_WORK_CITY Col min_value : 0 Col max_value : 1 Optimized Class : int8
Col name : FLAG_DOCUMENT_2 Col min_value : 0 Col max_value : 1 Optimized Class : int8
Col name : FLAG_DOCUMENT_3 Col min_value : 0 Col max_value : 1 Optimized Class : int8
Col name : FLAG_DOCUMENT_4 Col min_value : 0 Col max_value : 1 Optimized Class : int8
Col name : FLAG_DOCUMENT_5 Col min_value : 0 Col max_value : 1 Optimized Class : int8
Col name : FLAG_DOCUMENT_6 Col min_value : 0 Col max_value : 1 Optimized Class : int8
Col name : FLAG_DOCUMENT_7 Col min_value : 0 Col max_value : 1 Optimized Class : int8
Col name : FLAG_DOCUMENT_8 Col min_value : 0 Col max_value : 1 Optimized Class : int8
Col name : FLAG_DOCUMENT_9 Col min_value : 0 Col max_value : 1 Optimized Class : int8
Col name : FLAG_DOCUMENT_10 Col min_value : 0 Col max_value : 1 Optimized Class : int8
Col name : FLAG_DOCUMENT_11 Col min_value : 0 Col max_value : 1 Optimized Class : int8
Col name : FLAG_DOCUMENT_12 Col min_value : 0 Col max_value : 1 Optimized Class : int8
Col name : FLAG_DOCUMENT_13 Col min_value : 0 Col max_value : 1 Optimized Class : int8
Col name : FLAG_DOCUMENT_14 Col min_value : 0 Col max_value : 1 Optimized Class : int8
Col name : FLAG_DOCUMENT_15 Col min_value : 0 Col max_value : 1 Optimized Class : int8
Col name : FLAG_DOCUMENT_16 Col min_value : 0 Col max_value : 1 Optimized Class : int8
Col name : FLAG_DOCUMENT_17 Col min_value : 0 Col max_value : 1 Optimized Class : int8
Col name : FLAG_DOCUMENT_18 Col min_value : 0 Col max_value : 1 Optimized Class : int8
Col name : FLAG_DOCUMENT_19 Col min_value : 0 Col max_value : 1 Optimized Class : int8
Col name : FLAG_DOCUMENT_20 Col min_value : 0 Col max_value : 1 Optimized Class : int8
Col name : FLAG_DOCUMENT_21 Col min_value : 0 Col max_value : 1 Optimized Class : int8
Col name : SK_ID_CURR Col min_value : 100001 Col max_value : 456255 Optimized Class : int32
Col name : SK_ID_BUREAU Col min_value : 5000000 Col max_value : 6843457 Optimized Class : int32
Col name : DAYS_CREDIT Col min_value : -2922 Col max_value : 0 Optimized Class : int16
Col name : CREDIT_DAY_OVERDUE Col min_value : 0 Col max_value : 2792 Optimized Class : int16
Col name : CNT_CREDIT_PROLONG Col min_value : 0 Col max_value : 9 Optimized Class : int8
Col name : DAYS_CREDIT_UPDATE Col min_value : -41947 Col max_value : 372 Optimized Class : int32
Col name : SK_ID_BUREAU Col min_value : 5001709 Col max_value : 6842888 Optimized Class : int32
Col name : MONTHS_BALANCE Col min_value : -96 Col max_value : 0 Optimized Class : int8
Col name : SK_ID_PREV Col min_value : 1000018 Col max_value : 2843496 Optimized Class : int32
Col name : SK_ID_CURR Col min_value : 100006 Col max_value : 456250 Optimized Class : int32
Col name : MONTHS_BALANCE Col min_value : -96 Col max_value : -1 Optimized Class : int8
Col name : AMT_CREDIT_LIMIT_ACTUAL Col min_value : 0 Col max_value : 1350000 Optimized Class : int32
Col name : CNT_DRAWINGS_CURRENT Col min_value : 0 Col max_value : 165 Optimized Class : uint8
Col name : SK_DPD Col min_value : 0 Col max_value : 3260 Optimized Class : int16
Col name : SK_DPD_DEF Col min_value : 0 Col max_value : 3260 Optimized Class : int16
Col name : SK_ID_PREV Col min_value : 1000001 Col max_value : 2843499 Optimized Class : int32
Col name : SK_ID_CURR Col min_value : 100001 Col max_value : 456255 Optimized Class : int32
Col name : NUM_INSTALMENT_NUMBER Col min_value : 1 Col max_value : 277 Optimized Class : int16
Col name : SK_ID_PREV Col min_value : 1000001 Col max_value : 2843499 Optimized Class : int32
Col name : SK_ID_CURR Col min_value : 100001 Col max_value : 456255 Optimized Class : int32
Col name : MONTHS_BALANCE Col min_value : -96 Col max_value : -1 Optimized Class : int8
Col name : SK_DPD Col min_value : 0 Col max_value : 4231 Optimized Class : int16
Col name : SK_DPD_DEF Col min_value : 0 Col max_value : 3595 Optimized Class : int16
Col name : SK_ID_PREV Col min_value : 1000001 Col max_value : 2845382 Optimized Class : int32
Col name : SK_ID_CURR Col min_value : 100001 Col max_value : 456255 Optimized Class : int32
Col name : HOUR_APPR_PROCESS_START Col min_value : 0 Col max_value : 23 Optimized Class : int8
Col name : NFLAG_LAST_APPL_IN_DAY Col min_value : 0 Col max_value : 1 Optimized Class : int8
Col name : DAYS_DECISION Col min_value : -2922 Col max_value : -1 Optimized Class : int16
Col name : SELLERPLACE_AREA Col min_value : -1 Col max_value : 4000000 Optimized Class : int32
Memory usage of dataframe is 0.214335 GB
Memory usage of dataframe is 0.180225 GB
Memory usage of dataframe is 0.354899 GB
Memory usage of dataframe is 0.560686 GB
Memory usage of dataframe is 0.680270 GB
Memory usage of dataframe is 0.370050 GB
Memory usage of dataframe is 0.440937 GB
Total memory used for all dataframes is: 2.80GB
Col name : AMT_INCOME_TOTAL Col min_value : 25650.0 Col max_value : 117000000.0 Optimized Class : float32
Col name : AMT_CREDIT Col min_value : 45000.0 Col max_value : 4050000.0 Optimized Class : float32
Col name : AMT_ANNUITY Col min_value : 1615.5 Col max_value : 258025.5 Optimized Class : float32
Col name : AMT_GOODS_PRICE Col min_value : 40500.0 Col max_value : 4050000.0 Optimized Class : float32
Col name : REGION_POPULATION_RELATIVE Col min_value : 0.00029 Col max_value : 0.072508 Optimized Class : float16
Col name : DAYS_REGISTRATION Col min_value : -24672.0 Col max_value : 0.0 Optimized Class : float16
Col name : OWN_CAR_AGE Col min_value : 0.0 Col max_value : 91.0 Optimized Class : float16
Col name : CNT_FAM_MEMBERS Col min_value : 1.0 Col max_value : 20.0 Optimized Class : float16
Col name : EXT_SOURCE_1 Col min_value : 0.014568132 Col max_value : 0.962692771 Optimized Class : float16
Col name : EXT_SOURCE_2 Col min_value : 8.17e-08 Col max_value : 0.854999666 Optimized Class : float16
Col name : EXT_SOURCE_3 Col min_value : 0.000527265 Col max_value : 0.896009549 Optimized Class : float16
Col name : APARTMENTS_AVG Col min_value : 0.0 Col max_value : 1.0 Optimized Class : float16
Col name : BASEMENTAREA_AVG Col min_value : 0.0 Col max_value : 1.0 Optimized Class : float16

Col name : YEARS_BEGINEXPLUATATION_AVG Col min_value : 0.0 Col max_value : 1.0 Optimized Class : float16
Col name : YEARS_BUILD_AVG Col min_value : 0.0 Col max_value : 1.0 Optimized Class : float16
Col name : COMMONAREA_AVG Col min_value : 0.0 Col max_value : 1.0 Optimized Class : float16
Col name : ELEVATORS_AVG Col min_value : 0.0 Col max_value : 1.0 Optimized Class : float16
Col name : ENTRANCES_AVG Col min_value : 0.0 Col max_value : 1.0 Optimized Class : float16
Col name : FLOORSMAX_AVG Col min_value : 0.0 Col max_value : 1.0 Optimized Class : float16
Col name : FLOORSMIN_AVG Col min_value : 0.0 Col max_value : 1.0 Optimized Class : float16
Col name : LANDAREA_AVG Col min_value : 0.0 Col max_value : 1.0 Optimized Class : float16
Col name : LIVINGAPARTMENTS_AVG Col min_value : 0.0 Col max_value : 1.0 Optimized Class : float16
Col name : LIVINGAREA_AVG Col min_value : 0.0 Col max_value : 1.0 Optimized Class : float16
Col name : NONLIVINGAPARTMENTS_AVG Col min_value : 0.0 Col max_value : 1.0 Optimized Class : float16
Col name : NONLIVINGAREA_AVG Col min_value : 0.0 Col max_value : 1.0 Optimized Class : float16
Col name : APARTMENTS_MODE Col min_value : 0.0 Col max_value : 1.0 Optimized Class : float16
Col name : BASEMENTAREA_MODE Col min_value : 0.0 Col max_value : 1.0 Optimized Class : float16
Col name : YEARS_BEGINEXPLUATATION_MODE Col min_value : 0.0 Col max_value : 1.0 Optimized Class : float16
Col name : YEARS_BUILD_MODE Col min_value : 0.0 Col max_value : 1.0 Optimized Class : float16
Col name : COMMONAREA_MODE Col min_value : 0.0 Col max_value : 1.0 Optimized Class : float16
Col name : ELEVATORS_MODE Col min_value : 0.0 Col max_value : 1.0 Optimized Class : float16
Col name : ENTRANCES_MODE Col min_value : 0.0 Col max_value : 1.0 Optimized Class : float16
Col name : FLOORSMAX_MODE Col min_value : 0.0 Col max_value : 1.0 Optimized Class : float16
Col name : FLOORSMIN_MODE Col min_value : 0.0 Col max_value : 1.0 Optimized Class : float16
Col name : LANDAREA_MODE Col min_value : 0.0 Col max_value : 1.0 Optimized Class : float16
Col name : LIVINGAPARTMENTS_MODE Col min_value : 0.0 Col max_value : 1.0 Optimized Class : float16
Col name : LIVINGAREA_MODE Col min_value : 0.0 Col max_value : 1.0 Optimized Class : float16
Col name : NONLIVINGAPARTMENTS_MODE Col min_value : 0.0 Col max_value : 1.0 Optimized Class : float16
Col name : NONLIVINGAREA_MODE Col min_value : 0.0 Col max_value : 1.0 Optimized Class : float16
Col name : APARTMENTS_MEDI Col min_value : 0.0 Col max_value : 1.0 Optimized Class : float16
Col name : BASEMENTAREA_MEDI Col min_value : 0.0 Col max_value : 1.0 Optimized Class : float16
Col name : YEARS_BEGINEXPLUATATION_MEDI Col min_value : 0.0 Col max_value : 1.0 Optimized Class : float16
Col name : YEARS_BUILD_MEDI Col min_value : 0.0 Col max_value : 1.0 Optimized Class : float16
Col name : COMMONAREA_MEDI Col min_value : 0.0 Col max_value : 1.0 Optimized Class : float16
Col name : ELEVATORS_MEDI Col min_value : 0.0 Col max_value : 1.0 Optimized Class : float16
Col name : ENTRANCES_MEDI Col min_value : 0.0 Col max_value : 1.0 Optimized Class : float16
Col name : FLOORSMAX_MEDI Col min_value : 0.0 Col max_value : 1.0 Optimized Class : float16
Col name : FLOORSMIN_MEDI Col min_value : 0.0 Col max_value : 1.0 Optimized Class : float16
Col name : LANDAREA_MEDI Col min_value : 0.0 Col max_value : 1.0 Optimized Class : float16
Col name : LIVINGAPARTMENTS_MEDI Col min_value : 0.0 Col max_value : 1.0 Optimized Class : float16
Col name : LIVINGAREA_MEDI Col min_value : 0.0 Col max_value : 1.0 Optimized Class : float16
Col name : NONLIVINGAPARTMENTS_MEDI Col min_value : 0.0 Col max_value : 1.0 Optimized Class : float16
Col name : NONLIVINGAREA_MEDI Col min_value : 0.0 Col max_value : 1.0 Optimized Class : float16
Col name : TOTALAREA_MODE Col min_value : 0.0 Col max_value : 1.0 Optimized Class : float16
Col name : OBS_30_CNT_SOCIAL_CIRCLE Col min_value : 0.0 Col max_value : 348.0 Optimized Class : float16
Col name : DEF_30_CNT_SOCIAL_CIRCLE Col min_value : 0.0 Col max_value : 34.0 Optimized Class : float16
Col name : OBS_60_CNT_SOCIAL_CIRCLE Col min_value : 0.0 Col max_value : 344.0 Optimized Class : float16
Col name : DEF_60_CNT_SOCIAL_CIRCLE Col min_value : 0.0 Col max_value : 24.0 Optimized Class : float16
Col name : DAYS_LAST_PHONE_CHANGE Col min_value : -4292.0 Col max_value : 0.0 Optimized Class : float16
Col name : AMT_REQ_CREDIT_BUREAU_HOUR Col min_value : 0.0 Col max_value : 4.0 Optimized Class : float16
Col name : AMT_REQ_CREDIT_BUREAU_DAY Col min_value : 0.0 Col max_value : 9.0 Optimized Class : float16
Col name : AMT_REQ_CREDIT_BUREAU_WEEK Col min_value : 0.0 Col max_value : 8.0 Optimized Class : float16
Col name : AMT_REQ_CREDIT_BUREAU_MON Col min_value : 0.0 Col max_value : 27.0 Optimized Class : float16
Col name : AMT_REQ_CREDIT_BUREAU_QRT Col min_value : 0.0 Col max_value : 261.0 Optimized Class : float16
Col name : AMT_REQ_CREDIT_BUREAU_YEAR Col min_value : 0.0 Col max_value : 25.0 Optimized Class : float16
Col name : DAYS_CREDIT_ENDDATE Col min_value : -42060.0 Col max_value : 31199.0 Optimized Class : float16
Col name : DAYS_ENDDATE_FACT Col min_value : -42023.0 Col max_value : 0.0 Optimized Class : float16
Col name : AMT_CREDIT_MAX_OVERDUE Col min_value : 0.0 Col max_value : 115987185.0 Optimized Class : float32
Col name : AMT_CREDIT_SUM Col min_value : 0.0 Col max_value : 585000000.0 Optimized Class : float32
Col name : AMT_CREDIT_SUM_DEBT Col min_value : -4705600.32 Col max_value : 170100000.0 Optimized Class : float32
Col name : AMT_CREDIT_SUM_LIMIT Col min_value : -586406.115 Col max_value : 4705600.32 Optimized Class : float32
Col name : AMT_CREDIT_SUM_OVERDUE Col min_value : 0.0 Col max_value : 3756681.0 Optimized Class : float32
Col name : AMT_ANNUITY Col min_value : 0.0 Col max_value : 118453423.5 Optimized Class : float32
Col name : AMT_BALANCE Col min_value : -420250.185 Col max_value : 1505902.185 Optimized Class : float32
Col name : AMT_DRAWINGS_ATM_CURRENT Col min_value : -6827.31 Col max_value : 2115000.0 Optimized Class : float32
Col name : AMT_DRAWINGS_CURRENT Col min_value : -6211.62 Col max_value : 2287098.315 Optimized Class : float32
Col name : AMT_DRAWINGS_OTHER_CURRENT Col min_value : 0.0 Col max_value : 1529847.0 Optimized Class : float32
Col name : AMT_DRAWINGS_POS_CURRENT Col min_value : 0.0 Col max_value : 2239274.16 Optimized Class : float32
Col name : AMT_INST_MIN_REGULARITY Col min_value : 0.0 Col max_value : 202882.005 Optimized Class : float32
Col name : AMT_PAYMENT_CURRENT Col min_value : 0.0 Col max_value : 4289207.445 Optimized Class : float32
Col name : AMT_PAYMENT_TOTAL_CURRENT Col min_value : 0.0 Col max_value : 4278315.69 Optimized Class : float32
Col name : AMT_RECEIVABLE_PRINCIPAL Col min_value : -423305.82 Col max_value : 1472316.795 Optimized Class : float32
Col name : AMT_RECIVABLE Col min_value : -420250.185 Col max_value : 1493338.185 Optimized Class : float32
Col name : AMT_TOTAL_RECEIVABLE Col min_value : -420250.185 Col max_value : 1493338.185 Optimized Class : float32
Col name : CNT_DRAWINGS_ATM_CURRENT Col min_value : 0.0 Col max_value : 51.0 Optimized Class : float16
Col name : CNT_DRAWINGS_OTHER_CURRENT Col min_value : 0.0 Col max_value : 12.0 Optimized Class : float16
Col name : CNT_DRAWINGS_POS_CURRENT Col min_value : 0.0 Col max_value : 165.0 Optimized Class : float16
Col name : CNT_INSTALMENT_MATURE_CUM Col min_value : 0.0 Col max_value : 120.0 Optimized Class : float16
Col name : NUM_INSTALMENT_VERSION Col min_value : 0.0 Col max_value : 178.0 Optimized Class : float16
Col name : DAYS_INSTALMENT Col min_value : -2922.0 Col max_value : -1.0 Optimized Class : float16
Col name : DAYS_ENTRY_PAYMENT Col min_value : -4921.0 Col max_value : -1.0 Optimized Class : float16
Col name : AMT_INSTALMENT Col min_value : 0.0 Col max_value : 3771487.845 Optimized Class : float32
Col name : AMT_PAYMENT Col min_value : 0.0 Col max_value : 3771487.845 Optimized Class : float32
Col name : CNT_INSTALMENT Col min_value : 1.0 Col max_value : 92.0 Optimized Class : float16
Col name : CNT_INSTALMENT_FUTURE Col min_value : 0.0 Col max_value : 85.0 Optimized Class : float16
Col name : AMT_ANNUITY Col min_value : 0.0 Col max_value : 418058.145 Optimized Class : float32
Col name : AMT_APPLICATION Col min_value : 0.0 Col max_value : 6905160.0 Optimized Class : float32
Col name : AMT_CREDIT Col min_value : 0.0 Col max_value : 6905160.0 Optimized Class : float32
Col name : AMT_DOWN_PAYMENT Col min_value : -0.9 Col max_value : 3060045.0 Optimized Class : float32

Col name : AMT_GOODS_PRICE Col min_value : 0.0 Col max_value : 6905160.0 Optimized Class : float32
Col name : RATE_DOWN_PAYMENT Col min_value : -1.4978763414307848e-05 Col max_value : 1.0 Optimized Class : float16
Col name : RATE_INTEREST_PRIMARY Col min_value : 0.0347812535418791 Col max_value : 1.0 Optimized Class : float16
Col name : RATE_INTEREST_PRIVILEGED Col min_value : 0.3731501057082452 Col max_value : 1.0 Optimized Class : float16
Col name : CNT_PAYMENT Col min_value : 0.0 Col max_value : 84.0 Optimized Class : float16
Col name : DAYS_FIRST_DRAWING Col min_value : -2922.0 Col max_value : 365243.0 Optimized Class : float32
Col name : DAYS_FIRST_DUE Col min_value : -2892.0 Col max_value : 365243.0 Optimized Class : float32
Col name : DAYS_LAST_DUE_1ST_VERSION Col min_value : -2801.0 Col max_value : 365243.0 Optimized Class : float32
Col name : DAYS_LAST_DUE Col min_value : -2889.0 Col max_value : 365243.0 Optimized Class : float32
Col name : DAYS_TERMINATION Col min_value : -2874.0 Col max_value : 365243.0 Optimized Class : float32
Col name : NFLAG_INSURED_ON_APPROVAL Col min_value : 0.0 Col max_value : 1.0 Optimized Class : float16
Memory usage of dataframe is 0.096866 GB
Memory usage of dataframe is 0.118434 GB
Memory usage of dataframe is 0.354899 GB
Memory usage of dataframe is 0.299544 GB
Memory usage of dataframe is 0.326530 GB
Memory usage of dataframe is 0.250034 GB
Memory usage of dataframe is 0.324022 GB
Total memory used for all dataframes is: 1.77GB

In [257]:
for i in dflist:
    print(i.isnull().sum())

SK_ID_CURR                    0
TARGET                        0
NAME_CONTRACT_TYPE            0
CODE_GENDER                   0
FLAG_OWN_CAR                  0
                             ..
AMT_REQ_CREDIT_BUREAU_DAY     0
AMT_REQ_CREDIT_BUREAU_WEEK    0
AMT_REQ_CREDIT_BUREAU_MON     0
AMT_REQ_CREDIT_BUREAU_QRT     0
AMT_REQ_CREDIT_BUREAU_YEAR    0
Length: 122, dtype: int64
SK_ID_CURR                0
SK_ID_BUREAU              0
CREDIT_ACTIVE             0
CREDIT_CURRENCY           0
DAYS_CREDIT               0
CREDIT_DAY_OVERDUE        0
DAYS_CREDIT_ENDDATE       0
DAYS_ENDDATE_FACT         0
AMT_CREDIT_MAX_OVERDUE    0
CNT_CREDIT_PROLONG        0
AMT_CREDIT_SUM            0
AMT_CREDIT_SUM_DEBT       0
AMT_CREDIT_SUM_LIMIT      0
AMT_CREDIT_SUM_OVERDUE    0
CREDIT_TYPE               0
DAYS_CREDIT_UPDATE        0
AMT_ANNUITY               0
dtype: int64
SK_ID_BUREAU      0
MONTHS_BALANCE    0
STATUS            0
dtype: int64
SK_ID_PREV                    0
SK_ID_CURR                    0
MONTHS_BALANCE                0
AMT_BALANCE                   0
AMT_CREDIT_LIMIT_ACTUAL       0
AMT_DRAWINGS_ATM_CURRENT      0
AMT_DRAWINGS_CURRENT          0
AMT_DRAWINGS_OTHER_CURRENT    0
AMT_DRAWINGS_POS_CURRENT      0
AMT_INST_MIN_REGULARITY       0
AMT_PAYMENT_CURRENT           0
AMT_PAYMENT_TOTAL_CURRENT     0
AMT_RECEIVABLE_PRINCIPAL      0
AMT_RECIVABLE                 0
AMT_TOTAL_RECEIVABLE          0
CNT_DRAWINGS_ATM_CURRENT      0
CNT_DRAWINGS_CURRENT          0
CNT_DRAWINGS_OTHER_CURRENT    0
CNT_DRAWINGS_POS_CURRENT      0
CNT_INSTALMENT_MATURE_CUM     0
NAME_CONTRACT_STATUS          0
SK_DPD                        0
SK_DPD_DEF                    0
dtype: int64
SK_ID_PREV                0
SK_ID_CURR                0
NUM_INSTALMENT_VERSION    0
NUM_INSTALMENT_NUMBER     0
DAYS_INSTALMENT           0
DAYS_ENTRY_PAYMENT        0
AMT_INSTALMENT            0
AMT_PAYMENT               0
dtype: int64
SK_ID_PREV               0
SK_ID_CURR               0
MONTHS_BALANCE           0
CNT_INSTALMENT           0
CNT_INSTALMENT_FUTURE    0
NAME_CONTRACT_STATUS     0
SK_DPD                   0
SK_DPD_DEF               0
dtype: int64
SK_ID_PREV                          0
SK_ID_CURR                          0
NAME_CONTRACT_TYPE                  0
AMT_ANNUITY                         0
AMT_APPLICATION                     0
AMT_CREDIT                          0
AMT_DOWN_PAYMENT                    0
AMT_GOODS_PRICE                     0
WEEKDAY_APPR_PROCESS_START          0
HOUR_APPR_PROCESS_START             0
FLAG_LAST_APPL_PER_CONTRACT         0
NFLAG_LAST_APPL_IN_DAY              0
RATE_DOWN_PAYMENT                   0
RATE_INTEREST_PRIMARY               0
RATE_INTEREST_PRIVILEGED            0
NAME_CASH_LOAN_PURPOSE              0
NAME_CONTRACT_STATUS                0
DAYS_DECISION                       0
NAME_PAYMENT_TYPE                   0
CODE_REJECT_REASON                  0
NAME_TYPE_SUITE                     0
NAME_CLIENT_TYPE                    0
NAME_GOODS_CATEGORY                 0
NAME_PORTFOLIO                      0
NAME_PRODUCT_TYPE                   0
CHANNEL_TYPE                        0
SELLERPLACE_AREA                    0
NAME_SELLER_INDUSTRY                0
CNT_PAYMENT                         0
NAME_YIELD_GROUP                    0
PRODUCT_COMBINATION                 0
DAYS_FIRST_DRAWING                  0
DAYS_FIRST_DUE                      0
DAYS_LAST_DUE_1ST_VERSION           0
DAYS_LAST_DUE                       0
DAYS_TERMINATION                    0
NFLAG_INSURED_ON_APPROVAL      673065
dtype: int64